html, body{
    padding: 0;
    border: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    align-content: space-around;
    background-color: #ddd;
}
#page{
    display: grid;
    grid-template-columns: 1px 1px 1px 1px;
    grid-column-gap: 110px;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    
}
 .please{
    height: 100px;
    width: 100px;
    background-color: #000;
}
.squares{
    background-color: #555;
}